{{define "create"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go-Lanta - Create</title>
    <link rel="stylesheet" href="../assets/style/connexion.css">
</head>
<body>
    <header>
        <h1>Go-Lanta</h1>
    </header>
    <div class="container">
        <form id="loginForm" onsubmit="return loginUser()">
            <h2>Création</h2>
            <div class="input-group">
                <label for="firstName">Prénom:</label>
                <input type="text" id="firstName" required>
            </div>
            <div class="input-group">
                <label for="lastName">Nom:</label>
                <input type="text" id="lastName" required>
            </div>
            <div class="input-group">
                <label for="password">Mot de passe:</label>
                <input type="password" id="password" required>
            </div>
            <button type="submit">Créer</button>
        </form>
    </div>
</body>
</html>
{{end}}